<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="928d86">  <td>18/03/22 22:37:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Steps.open_App()[pri:0, instance:com.sg.mobiletest.Mobiletesting.Steps@4973813a]">&gt;&gt;open_App</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1454031203</td>   <td></td> </tr>
</table>
