<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mobiletesting by packages</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7faa95">  <td>18/01/07 16:40:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Steps.open_App()[pri:0, instance:com.sg.mobiletest.Mobiletesting.Steps@167fdd33]">open_App</td> 
  <td>main@1297149880</td>   <td></td> </tr>
<tr bgcolor="7faa95">  <td>18/01/07 16:40:24</td>   <td>1534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Steps.open_App1()[pri:0, instance:com.sg.mobiletest.Mobiletesting.Steps@167fdd33]">open_App1</td> 
  <td>main@1297149880</td>   <td></td> </tr>
<tr bgcolor="7faa95">  <td>18/01/07 16:40:24</td>   <td>1538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Steps.open_App2()[pri:0, instance:com.sg.mobiletest.Mobiletesting.Steps@167fdd33]">open_App2</td> 
  <td>main@1297149880</td>   <td></td> </tr>
</table>
